/*.well
{
background-color: rgba(245, 245, 245, 0.4);	
}*/

.jumbotron
{
	max-width:830px;margin-left:auto;margin-right:auto;margin-top:30px;margin-bottom:0px;
	/*padding-bottom:20px;*/
	/*margin-bottom: 30px;*/
	/*border-bottom:10px solid #e5e5e5;*/
}

.header {
  padding-bottom:10px;
  border-bottom: 1px solid #e5e5e5;
}

div.well.well-sm.hoverable
{
	/*background-color:green;*/
	background-color: red;
	background-image:none;
	border:3px solid green;
}

.data_row
{
	max-width: 830px;
	margin-left: auto;
	margin-right: auto;
}

.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  margin-top:-30px;
}

body
{
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

.opentip-container
{
	pointer-events:auto;
}

.smalltip
{
	margin-top:-12px;
	margin-bottom:-12px;
}

.hidden-explaintip
{
	/*display:none;*/
}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    display: inline-block;
    /*height: 0;*/
    opacity: 0.3;
    vertical-align: center;
    /*width: 0;*/
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    /*height: 0;*/
    opacity: 0.3;
    vertical-align: center;
    /*width: 0; */
}

.right-border
{
	padding-left:4px;
	border-right:1px solid #aaa;
	vertical-align: center;
	opacity:0.5;
}

.expander:hover
{
	cursor:pointer;
}